#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}

label {
  margin-right: 1em
}

.viewer-tabs {
  grid-column: span 2;
  display: flex;
  gap: 0.5em;
  border-bottom: 1px solid hsl(211, 78%, 60%);
} 

.viewer-tabs button {
  padding: 0.5em 1em;
  border: 1px solid hsl(211, 78%, 60%);
  background-color: transparent;
}

.viewer-tabs button, 
.viewer-tabs button:focus {
  border-radius: 4px;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  border-bottom: none;
  outline: none;
  cursor: pointer;
}

.viewer-tabs button.active {
  background-color: hsl(211, 78%, 60%);
  color: white;
  font-weight: bold;
}

.canvas-container {
  height: 500px;
  overflow-y: auto;
}

form > div,
form .card > div {
  text-align:initial;
  margin-bottom: 1em;
}

form .card > div:last-child {
  margin-bottom: 0;
}

.card {
  padding: 1em;
  border: 1px solid hsl(211, 78%, 80%);
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 1em;
  justify-content: end;
}

.step {
  color: #f9f9f9;
  background-color: hsla(0, 0%, 14%, 0.5);
}

.array-viewer {
  background-color: #242424;
}

.bar {
  background-color: #f9f9f9;
}

.counts-bar {
  background-color: #e7e300;
}

.accumulations-bar {
  background-color: #00b300;
}

.buckets {
  background-color: #00b300;
}

.node {
  background-color: #f9f9f9;
}

@media (prefers-color-scheme: light) {
  .card {
    border-color: hsl(211, 78%, 60%);
  }

  .array-viewer {
    background-color: #242424;
  }

  .step {
    color: hsl(0, 0%, 14%);
    background-color: hsla(0, 0%, 98%, 0.5);
  }

  .bar {
    background-color: #242424;
  }

  .counts-bar {
    background-color: #686600;
  }

  .accumulations-bar {
    background-color: #006600;
  }

  .buckets {
    background-color: #006600;
  }

  .node {
    background-color: #242424;
  }
}