#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}

label {
  margin-right: 1em
}

form > div,
form .card > div {
  text-align:initial;
  margin-bottom: 1em;
}

form .card > div:last-child {
  margin-bottom: 0;
}

.card {
  padding: 1em;
  border: 1px solid hsl(211, 78%, 80%);
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 1em;
  justify-content: end;
}

.bar {
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  .card {
    border-color: hsl(211, 78%, 60%);
  }
  .bar {
    background-color: #f9f9f9;
  }
}